@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 0.2;
    visibility: visible;
  }
  40% {
    opacity: 0.4;
    visibility: visible;
  }
  60% {
    opacity: 0.6;
    visibility: visible;
  }
  80% {
    opacity: 0.8;
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fade-in {
  @include animation(fade-in, 300ms);
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  20% {
    opacity: 0.8;
    visibility: visible;
  }
  40% {
    opacity: 0.6;
    visibility: visible;
  }
  60% {
    opacity: 0.4;
    visibility: visible;
  }
  80% {
    opacity: 0.2;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-out {
  @include animation(fade-out, 300ms);
}