.feature {
  background-color: $lightGrayishBlue;
  
  @include breakpoint-down(small) {
    text-align: center;
  }

  &__intro {
    margin-bottom: 4.6875rem;
    @include breakpoint-up(large) {
      width: 55%;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 100%;
    @include breakpoint-up(medium) {
      flex: 50%;
      &:not(:last-child) {
        padding-right: 1.875rem;
      }
    }

    @include breakpoint-up(large) {
      flex: 25%;
    }
  }
}