.header {
  font-size: $font-sm;
  position: relative;
  nav {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    position: relative;
    background: #fff;
    z-index: 3;
  }

  &__hamburger {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    > span {
      display: block;
      background-color: #000;
      width: 1.5rem;
      height: 0.0625rem;
      @include easeInOut(all, 300ms);
      transform-origin: 5px 1px;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }

    &.open {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  &__toggle {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 2rem;
        }

        a {
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            height: 5px;
            background-image: linear-gradient(to right, $limeGreen, $brightCyan);
            left: 0;
            right: 0;
            bottom: -2rem;
            opacity: 0;
            @include easeInOut(opacity, 300ms)
          }
          @include easeInOut(color, 300ms);
          
          &:hover {
            color: $darkBlue;
    
            &::before {
              opacity: 1;
            }
          }

        }
      }
    }
    
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient($darkBlue, transparent);
    z-index: 1;
  }

  &__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.4375rem;
    background-color: $white;
    width: calc(100% - 3rem);
    padding: 1.625rem 0px;
    border-radius: 0.3125rem;
    text-align: center;
    z-index: 2;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      font-size: $font-md;
      li {
        padding: 0.5625rem 0px;
        a {
          &:link {
            color: $darkBlue;
            @include easeInOut(color, 300ms);
          }
          &:visited {
            color: $darkBlue;
          }
          &:hover {
            color: $grayishBlue;
          }
          &:active {
            color: $grayishBlue;
          }
        }
      }
    }
    
  }
}