.header {
  font-size: $font-sm;
  nav {
    padding: 1.3125rem 1.5rem;
  }

  &__logo{
    img {
      width: 8.8125rem;
      height: 1.25rem;
    }
  }

  &__hamburger{
    // 
  }

  &__menu{
    a {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}